body {
}

.button {
    background-color: #c34f71;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

    .button:hover {
        opacity: 1;
        text-decoration: none;
        color: white;
    }

.marginForHeaderButtons {
    margin: 20px;
    font-size: 13px;
    padding: 8px 16px;

}