body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    box-shadow: 0px 35px 50px rgb(0 0 0 / 20%);
}

input, select {
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 9px;
    padding: 6px;
}



.buttonCreate {
    background-color: #4FC3A1;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 15px;
    margin: 15px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

    .buttonCreate:hover {
        opacity: 1;
        text-decoration: none;
        color: white;
    }

.content {
    display: block;
    padding: 20px 90px;
}

.inputClass {
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 9px;
    padding: 6px;
}

td {
    /*
        background-color: black;
    */
    padding: 5px;
}

p{
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.83em;
    font-weight: bold;
}

h3{
    text-align: center;
}


dl, dt, dd {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 0;
}
